standby_mode = 'on' 
primary_conninfo = 'host={{ hostvars[groups['master'][0]]['ansible_' + bind_interface]['ipv4']['address'] }} port=5432 user=replicator password={{ repl_password }}'
trigger_file = '/tmp/postgresql.trigger.5432'